dlib @ file:///D:/bld/dlib-split_1712216474671/work
EasyProcess @ file:///home/conda/feedstock_root/build_artifacts/easyprocess_1647517462299/work
entrypoint2 @ file:///home/conda/feedstock_root/build_artifacts/entrypoint2_1656035935246/work
filelock==3.13.1
fsspec==2024.2.0
intel-openmp==2021.4.0
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2==3.1.3
MarkupSafe==2.1.5
mkl==2021.4.0
mkl-fft @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mkl_fft_1699473528480/work
mkl-random @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mkl_random_1699473588250/work
mkl-service==2.4.0
MouseInfo @ file:///home/conda/feedstock_root/build_artifacts/mouseinfo_1662510369813/work
mpmath==1.3.0
mss @ file:///home/conda/feedstock_root/build_artifacts/python-mss_1681977356664/work
networkx==3.2.1
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp312-cp312-win_amd64.whl#sha256=becc06674317799ad0165a939a7613809d0bee9bd328a1e4308c57c39cacf08c
opencv-python==4.9.0
opencv-python-headless==4.9.0
pillow==10.2.0
PyAutoGUI @ file:///D:/bld/pyautogui_1697474600942/work
PyGetWindow @ file:///D:/bld/pygetwindow_1695739760670/work
PyMsgBox @ file:///home/conda/feedstock_root/build_artifacts/pymsgbox_1662247063101/work
pyperclip @ file:///home/conda/feedstock_root/build_artifacts/pyperclip_1622337600177/work
PyRect @ file:///home/conda/feedstock_root/build_artifacts/pyrect_1662383908567/work
pyscreenshot @ file:///home/conda/feedstock_root/build_artifacts/pyscreenshot_1686076228447/work
PyScreeze @ file:///home/conda/feedstock_root/build_artifacts/pyscreeze_1699636817836/work
python-xlib @ file:///home/conda/feedstock_root/build_artifacts/python-xlib_1672238408014/work
pytweening @ file:///home/conda/feedstock_root/build_artifacts/pytweening_1708720296692/work
rubicon-objc @ file:///home/conda/feedstock_root/build_artifacts/rubicon-objc_1712422660722/work
setuptools==68.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy==1.12
tbb==2021.11.0
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121
typing_extensions==4.9.0
wheel==0.41.2
